In [1]:
import mysql.connector
from mysql.connector import Error
import os
import pandas as pd
from sqlalchemy import create_engine

In [2]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [3]:
connection = create_db_connection(os.getenv("AWS_HOST"), os.getenv("AWS_USER"), os.getenv("AWS_PASSWORD"), 'cup_adventure')

MySQL Database connection successful

In [4]:
# call all table names from cup_adventure database
cursor = connection.cursor()
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()
print(tables)

[('cups_db',), ('customers_db',), ('transactions_log',), ('vendors_db',)]

In [5]:
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

In [23]:
def updateTables(dbname, username, passwd, hostname, portnum, data):
    engine = create_engine(
        f"mysql://{username}:{passwd}@{hostname}:{portnum}/{dbname}")
    connection = engine.connect()
    df = pd.read_excel(
        f'../raw_data/{data}.xlsx'
    )
    df.to_sql(
        data, connection, if_exists="replace", index=False
    )

In [25]:
updateTables("cup_adventure", os.getenv("AWS_USER"), os.getenv("AWS_PASSWORD"), os.getenv("AWS_HOST"), os.getenv("AWS_PORT"), "customers_db")
updateTables("cup_adventure", os.getenv("AWS_USER"), os.getenv("AWS_PASSWORD"), os.getenv("AWS_HOST"), os.getenv("AWS_PORT"), "cups_db")
updateTables("cup_adventure", os.getenv("AWS_USER"), os.getenv("AWS_PASSWORD"), os.getenv("AWS_HOST"), os.getenv("AWS_PORT"), "transactions_log")
updateTables("cup_adventure", os.getenv("AWS_USER"), os.getenv("AWS_PASSWORD"), os.getenv("AWS_HOST"), os.getenv("AWS_PORT"), "vendors_db")

In [6]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [7]:
q1 = """
SELECT *
FROM cups_db;
"""

results = read_query(connection, q1)

for result in results:
  print(result)

(989965, 'BC10', 'No', 'Borrow')

In [ ]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")